@import ../variables

.hero
  height: 100px
  // background: url("./green-vine.jpg")
  background-color: $green
  color: #fff
  text-shadow: 1px 1px 1px #777
  
.green-shade
  height: 10px
  background-color: $green
  align-items: center
  justify-content: center
  position: relative

.person-picture
  justify-content: center
  // border-radius: 50%
  width: 50px

.people
  margin: 20px 20px
  
.person
  margin: 0 20px

.card-title  
  color: #000
  padding-top: 10px
  height: 300px
  

.site-section .title
  margin: 0 0 62px 0

  h5
    margin: 24px 0

.service-box
  padding: 0 32px
  
  svg
    width: 88px
    margin-bottom: 32px
  p
    margin: 36px 0

