main
  .frow-container
    .site-section
      .frow.column-start
        h2
          | Meet Our Core Team
    .people
      .frow
        .col-sm-1-2.col-md-1-3(v-for="member in team")
          .person
            .frow.column-center
              img(:src="member.img")
              .card-title
                | {{`${member.firstName} ${member.lastName}`}}
              .card-description
                .frow
                  h6
                    | {{member.title}}
                  | {{member.description}}
  contact-footer