main
  .hero
    .frow-container.height-100
      .frow
        h2
          | Meet the Team
  .people
    .frow
      .col-sm-1-2.col-md-1-3
        .person
          .frow.column-center
            .card-title
              | Cody 
            // img(src="../home/images/brandon.png")
            .card-description
              | Float En Fuego
      .col-sm-1-2.col-md-1-3
        .person
          .frow.column-center
            .card-title
              | Brian III
            // img(src="../home/images/brian.png")
            .card-description
              | Senior Chewbacca
      .col-sm-1-2.col-md-1-3
        .person
          .frow.column-center
            .card-title
              | Brandon
            // img(src="../home/images/cody.png")
            .card-description
              | Professional NFL Analyst
      .col-sm-1-2.col-md-1-3
        .person
          .frow.column-center
            .card-title
              | Rick
            // img(src="../home/images/rich.png")
            .card-description
              | President
      .col-sm-1-2.col-md-1-3
        .person
          .frow.column-center
            .card-title
              | Johnmark
            // img(src="../home/images/johnmark.png")
            .card-description
              | Executive CEO of Wordpress
      .col-sm-1-2.col-md-1-3
        .person
          .frow.column-center
            .card-title
              | Dyvon
            // img(src="../home/images/dyvon.png")
            .card-description
              | VP of VP of Virtual Marketing
