span
  .hero
    .frow-container.height-100
      .frow
        h2
          | Meet the Team
  .frow.people
    .col-md-1-3
      .person
        .dark-card-shadow
          .frow.column-center
            .card-title
              | Cody
            img(src="../home/images/brandon.png")
            .card-description
              | Vice President of Development  
    .col-md-1-3
      .person
        .dark-card-shadow
          .frow.column-center
            .card-title
              | Bionic Beard the Great
            img(src="../home/images/brian.png")
            .card-description
              | Vice President of Chewbacca 
    .col-md-1-3
      .person
        .dark-card-shadow
          .frow.column-center
            .card-title
              | Brandon
            img(src="../home/images/cody.png")
            .card-description
              | Vice President of Politics
  .frow.people
    .col-md-1-3
      .person
        .dark-card-shadow
          .frow.column-center
            .card-title
              | Richard
            img(src="../home/images/rich.png")
            .card-description
              | President  
    .col-md-1-3
      .person
        .dark-card-shadow
          .frow.column-center
            .card-title
              | Johnmark
            img(src="../home/images/johnmark.png")
            .card-description
              | Vice President of Engineering  
    .col-md-1-3
      .person
        .dark-card-shadow
          .frow.column-center
            .card-title
              | Dyvon
            img(src="../home/images/dyvon.png")
            .card-description
              | Vice President of Engineering             