span
  .hero
    .frow-container.height-100
      .frow
        h2
          | Meet the Team
    .frow.people
      .col-md-1-3
        .person
          .dark-card-shadow
            .frow.card-title
              | Sample Name
              // .person-picture
              //   svg-loader.width-auto(:src="picture")
              // label
              //   | Name
              // label
              //   | Title
      .col-md-1-3
        .person
          .dark-card-shadow
            .frow.card-title
              | Placeholder
      .col-md-1-3
        .person
          .dark-card-shadow
            .frow.card-title
              | Placeholder 
    .frow.people
      .col-md-1-3
        .person
          .dark-card-shadow
            .frow.card-title
              | Placeholder
      .col-md-1-3
        .person
          .dark-card-shadow
            .frow.card-title
              | Placeholder
      .col-md-1-3
        .person
          .dark-card-shadow
            .frow.card-title
              | Placeholder           