main
  .contact.site-section
    .frow.column-center
      talk-svg
      h2.title
        | Contact Us
      .col-md-1-2
        p
          | Feel free to get in touch with us using the contact information below! We'd love to hear from you.
    .contact-info
      .frow.height-100
        .frow.centered-column
          a(href="mailto:info@beg.in") info@beg.in
          a(href="tel:847-204-4261") 847-204-4261