main
  .frow-container
    .site-section
      .frow.column-start
        h2
          | Contact Us
        p
          | We always have time for a good story. Forgive us if we can't respond immediately. Take a peek at our social media — we're always working on something exciting!
    .contact-info
      .frow.height-100
        .frow.centered-column
          a(href="mailto:info@beg.in") info@beg.in
          a(href="tel:847-204-4261") 847-204-4261
        talk-svg