span
  .hero
    .frow-container.height-100
      .frow
        h2
          | Slate
  .frow-container
    div
      p
        | Sed sausage velit ground round short ribs sunt short loin tenderloin. Dolore boudin ground round id venison, capicola ball tip proident deserunt nostrud velit beef ribs. Ad bacon meatloaf velit, doner aute pork loin shankle labore corned beef voluptate reprehenderit nulla cillum spare ribs. Jowl boudin turkey flank nostrud veniam fatback laboris velit sed enim in porchetta laborum.

        | Jowl deserunt pork belly, meatloaf eiusmod ipsum officia short loin sirloin. Enim minim sirloin, ex drumstick meatloaf alcatra. Anim tenderloin porchetta filet mignon, venison in drumstick id. Proident lorem ribeye, shoulder beef aliquip anim pastrami cupim. Lorem magna pariatur, in mollit prosciutto short loin cow et consectetur t-bone beef ribs ad. Pastrami cupim frankfurter aliqua t-bone beef ribs hamburger do. Anim duis porchetta elit in picanha reprehenderit sausage frankfurter drumstick sirloin pork id salami t-bone.
    h2
      | The new standard in enterprise development
    h5
      | Beg.in helps companies create value with high-quality custom software d