@import ../variables

.hero
  height: 500px
  background-color: $green
  color: #fff
  text-shadow: 1px 1px 1px #777

.were-good
  text-align: center
  background-color: $light-background
  
  .plus
    font-size: 82px
    font-weight: 500
    color: $green
  
#home
  p
    font-size: 19px
    line-height: 28px
  
  .service-box
    svg
      width: 88px
      margin-bottom: 32px

.site-section .title
  margin: 0 0 62px 0
  text-align: center

  h5
    margin: 24px 0

.team.site-section .title
  text-align: left

.service-box
  padding: 0 32px
  
  p
    margin: 10px 0 28px 0
    text-align: center
  
  h5
    font-weight: 500

.team-box
  img
    width: 140px
    border-radius: 20%
    margin-bottom: 11px
    
.slate
  background-color: $light-background

  .slate-logo
    svg
      margin-right: 8px
      margin-bottom: 0
      width: 38px

@media screen and (max-width: 767px)
  .team-box
    img
      width: 100px
    h6
      margin-bottom: 8px
  