@import ../variables

.hero
  height: 500px
  // background: url("./green-vine.jpg")
  background-color: $green
  color: #fff
  text-shadow: 1px 1px 1px #777

.were-good
  text-align: center
  background-color: $light-background

.site-section .title
  margin: 0 0 62px 0

  h5
    margin: 24px 0

.service-box
  padding: 0 32px
  
  svg
    width: 88px
    margin-bottom: 32px
  p
    margin: 36px 0

.team-box
  img
    width: 140px
    border-radius: 50%
    margin-bottom: 11px
