span
  .hero
    .frow-container.height-100
      .frow.column-start.justify-center.height-100
        h2
          | Your favorite product development team.
        h4
          | We make cool softwares, and things. Like Apps.
  .were-good.site-section
    .frow-container.height-100
      .frow.centered-column.height-100
        .title
          h2
            | The new standard in
            br
            | enterprise development
          h5
            | Beg.in helps companies create value with high-quality custom software delivered on demand
      .service-box-parent
        .frow.gutters
          .col-md-1-2
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="cube")
                h6
                  | We're pretty good.
                p
                  | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
          .col-md-1-2
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="stats")
                h6
                  | Like really good.
                p
                  | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
          .frow
            a(class="begin-button" type="button" href="#") Learn More
  .team.site-section
    .frow-container.height-100
      .frow.row-start
        .col-md-1-4
          .frow.centered-column.height-100
            .title
              h2
                | Meet Us
        .col-md-3-4
          .service-box-parent
            .frow.gutters
              .col-md-1-2
                .service-box
                  .frow.column-center
                    svg-loader.width-auto(:src="cube")
                    h6
                      | We're pretty good.
                    p
                      | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
              .col-md-1-2
                .service-box
                  .frow.column-center
                    svg-loader.width-auto(:src="stats")
                    h6
                      | Like really good.
                    p
                      | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
              .frow
                a(class="begin-button" type="button" href="#") Learn More
  
