#home
  .hero
    .frow-container.height-100
      .frow.column-start.justify-center.height-100
        h2
          | Your favorite product development team.
        h5
          | We make cool softwares, and things. Like Apps.
  .were-good.site-section
    .frow-container.height-100
      .frow.centered-column.height-100
        .title
          h2
            | The new standard in
            br
            | enterprise development
          h5
            | Beg.in helps companies create value with high-quality custom software delivered on demand
      .service-box-parent
        .frow.gutters
          .col-md-1-2
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="cube")
                h6
                  | We're pretty good.
                p
                  | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
          .col-md-1-2
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="stats")
                h6
                  | Like really good.
                p
                  | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
          .frow
            a(class="begin-button" type="button" href="#") Learn More
  .team.site-section
    .frow-container.height-100
      .frow.row-start
        .col-md-1-5
          .frow.centered-column.height-100
            .title
              h2
                | Meet your new product team
        .col-md-4-5
          .team-box-parent
            .frow.gutters
              .col-md-1-6.col-xs-1-3
                .team-box
                  .frow.column-center
                    img(src="../home/images/cody.png")
                    h6
                      | Cody Sherman
                    // p
                    //   | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current.
              .col-md-1-6.col-xs-1-3
                .team-box
                  .frow.column-center
                    img(src="../home/images/brian.png")
                    h6
                      | Brian Jesse
                    // p
                    //   | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current.
              .col-md-1-6.col-xs-1-3
                .team-box
                  .frow.column-center
                    img(src="../home/images/brandon.png")
                    h6
                      | Brandon Frisch
                    // p
                    //   | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current.
              .col-md-1-6.col-xs-1-3
                .team-box
                  .frow.column-center
                    img(src="../home/images/rich.png")
                    h6
                      | Rich Kim
                    // p
                    //   | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing.
              .col-md-1-6.col-xs-1-3
                .team-box
                  .frow.column-center
                    img(src="../home/images/dyvon.png")
                    h6
                      | Dyvon Melling
                    // p
                    //   | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current.
              .col-md-1-6.col-xs-1-3
                .team-box
                  .frow.column-center
                    img(src="../home/images/johnmark.png")
                    h6
                      | Johnmark Beaty
                    // p
                    //   | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current.
              
      .frow.centered
        a(class="begin-button" type="button" href="#") Learn More
  
  .slate.site-section
    .frow-container.height-100
      .frow.centered-column.height-100
        .title
          .frow.row-center
            svg-loader.width-auto.slate-logo(:src="slate")
            h2
              | Meet Slate&trade;
          h5
            | A modern web toolkit, 3 years in the making.
          .frow
            .col-md-3-4
              p
                | Original Program. (3) The Recipient may not distribute the Larger Work by agreement with any existing Current Maintainer of the Agreement Steward reserves the right to modify or delete any preexisting copyright notices and associated disclaimers.
        .frow.gutters
          .col-md-1-1
            .service-box
              .frow.column-center
          .col-md-1-4
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="crane")
                h6
                  | Scalable
                p
                  | Lorem Ipsum this is fake text.
          .col-md-1-4
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="vault")
                h6
                  | Secure
                p
                  | Really really lorem Ipsum this is fake text.
          .col-md-1-4
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="multi")
                h6
                  | Versatile
                p
                  | Really really lorem Ipsum this is fake text.
          .col-md-1-4
            .service-box
              .frow.column-center
                svg-loader.width-auto(:src="gears")
                h6
                  | Efficient
                p
                  | Really really lorem Ipsum this is fake text.
        .frow
          a(class="begin-button" type="button" href="#") Learn More