main#home
  .hero
    .frow-container.height-100
      .frow.column-start.justify-center.height-100
        h2
          | Your product built right, the first time.
        h5
          | Progressive web apps, mobile apps, and software design.
  .were-good.site-section
    .frow-container.height-100
      .frow.centered-column.height-100
        .title
          h2
            | Start Here
          h5
            | Work with a team that allows you to do what you do best: run your business.
      .service-box-parent
        .frow.gutters
          .col-md-4-10
            .service-box
              .frow.column-center
                cbox1-svg
                h5
                  | Product Development
                p
                  | Your idea, brought to life. We like to build entire technology platforms from scratch. They’re fast, secure, and highly scalable.
          .col-md-1-10
            .frow.centered
               span.plus
                | &
          .col-md-4-10
            .service-box
              .frow.column-center
                brain-svg
                h5
                  | Technology Consulting
                p
                  | Tap into Beg.in's extensive tech experience to plan your next product launch.
          .frow
            a(class="begin-button" type="button" href="#") Start a project
  .team.site-section
    .frow-container.height-100
      .frow.row-start
        .col-md-1-5
          .frow.centered-column.height-100
            .title
              h2
                | Meet your new product team
        .col-md-4-5
          .team-box-parent
            .frow.gutters
              .col-md-1-6.col-xs-1-3(v-for="member in team")
                .team-box
                  .frow.column-center
                    img(:src="member.img")
                    h6
                      | {{ member.name }}
      .frow.centered
        a(class="begin-button" type="button" href="#") Learn More
  .slate.site-section
    .frow-container.height-100
      .frow.centered-column.height-100
        .title
          .frow.row-center
            slate-svg
            h2
              | Meet Slate&trade;
          h5
            | A modern web toolkit, powering your idea.
          .frow
            .col-md-1-1
              p
                | Our battle-tested product development tools ensure you're not paying for us to reinvent the wheel.
                br
                | Your plumber should show up to the job with her tools ready-to-go.
        .frow.gutters
          .col-md-1-1
            .service-box
              .frow.column-center
          .col-md-1-4.col-sm-1-2
            .service-box
              .frow.column-center
                crane-svg
                h5
                  | Scalable
                p
                  | Never worry about your big day on Oprah.
          .col-md-1-4.col-sm-1-2
            .service-box
              .frow.column-center
                vault-svg
                h5
                  | Secure
                p
                  | Get access to HIPAA compliant security.
          .col-md-1-4.col-sm-1-2
            .service-box
              .frow.column-center
                multi-svg
                h5
                  | Versatile
                p
                  | Push notifications, user profiles, it's all there.
                  // br
                  // |It's all there.
          .col-md-1-4.col-sm-1-2
            .service-box
              .frow.column-center
                robot-svg
                h5
                  | Efficient
                p
                  | It's fast. Really fast.
        .frow
          a(class="begin-button" type="button" href="#") Learn More
  .footer-cta.site-section
      .frow-container.height-100
        .frow.centered-column.height-100
          .title
            .frow.row-center
              slate-svg
              h2
                | We'd love to hear from you!
          .frow
              p
                | Let's chat about your project, product, or venture.
          .frow
            a(class="begin-button" type="button" href="#") Say Hello!

