@import ../variables

.header
  background-color: $green
  height: 60px
  padding: 0 20px

  .logo
    width: 50px
    height: auto

    svg
      fill: #fff
      height: 30px

  .nav
    font-size: 20px

    a
      color: #fff
      text-decoration: none

      &:hover, &:active, &:focus
        font-weight: bold
        // transition: transform $fast-animate-speed
        animation-name: super-nav
        animation-duration: 4000ms
        animation-iteration-count: infinite
        animation-timing-function: linear

    span
      color: #fff
      margin: 0 10px

@keyframes super-nav
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)

