@import ../variables

.logo
    height: auto

    svg
      fill: #fff
      height: 30px

.header
  background-color: $green
  height: $header-height
  padding: 0 20px
  position: fixed
  width: 100%
  z-index: 4

  .nav
    font-size: 20px

    a
      color: #fff
      text-decoration: none
      text-align: center

      &:hover, &:active, &:focus
        font-weight: bold

      &::after
        box-sizing: border-box
        display: block
        content: attr(title)
        font-weight: bold
        height: 1px
        color: transparent
        overflow: hidden
        visibility: hidden

    span
      color: #fff
      margin: 0 10px

.header-shadow-cover
  top: $header-height
  position: absolute
  width: 100%
  background-color: $green
  height: 20px
  z-index: 3

.header-shadow
  height: $header-height
  position: fixed
  width: 100%
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 2px 10px rgba(0, 0, 0, 0.28)
  z-index: 2

main
  display: block
  padding-top: $header-height

.footer

  .logo
    svg
      fill: $near-black
      margin-bottom: 10px

  span
      margin: 0 10px

  .github
    margin-top: 32px

    svg
      width: 58px

  .copyright
    margin-top: 32px
