@import ../variables

// Frisch moved the .logo .header and .nav style rules to the global.sass file - if this irks you ... yell at him.
      
.header-shadow-cover
  top: $header-height
  position: absolute
  width: 100%
  background-color: $green
  height: 20px
  z-index: 3
      
.header-shadow
  height: $header-height
  position: fixed
  width: 100%
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 2px 10px rgba(0, 0, 0, 0.28)
  z-index: 2
  

@keyframes super-nav
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)

