#main.height-100
  .header
    .frow.height-100
      .col-xs-1-4.height-100
        .frow.justify-start.items-center.height-100
          .logo
            router-link(to="/")
              logo-svg
      .col-xs-3-4.height-100
        .nav.height-100
          .frow.justify-end.items-center.height-100
            router-link(to="our-work", title="Our Work") Our Work
            span |
            router-link(to="slate", title="Slate") Slate
            span |
            router-link(to="team", title="Our Team") Our Team
            span |
            router-link(to="faq", title="FAQ") FAQ
            span |
            router-link(to="contact", title="Contact") Contact
  .header-shadow-cover
  .header-shadow
  transition
    router-view
  .footer.site-section
    .frow.column-center
      .col-md-1-3
        .frow.column-center
          .logo
            router-link(to="/")
              .width-auto
                logo-svg
          .nav
            .frow.items-center.height-100
              router-link(to="our-work", title="Our Work") Our Work
              span |
              router-link(to="slate", title="Slate") Slate
              span |
              router-link(to="team", title="Our Team") Our Team
              span |
              router-link(to="faq", title="FAQ") FAQ
              span |
              router-link(to="contact", title="Contact") Contact
          .github
            .frow.column-center
              p
                | Don't forget to check out our work on:
              external(href="https://github.com/beg-in")
                github-svg.width-auto
          .copyright
            p
              | &copy; {{new Date().getFullYear()}}, Begin, LLC
