span
  .frow-container
    .site-section
      .frow.column-start
        h2
          | FAQs
        p
          | Find some answers to common questions about Beg.in
    .frow.row-start.items-start.gutters
      .col-md-1-4.faq-quick-title-menu
          .faq-quick-title-menu-title
            h4
              | Categories
          .faq-section(v-for="section, title in questions")
            h4.faq-title {{title}}
      .col-md-3-4
        .faq-section(v-for="section, title in questions")
          h4.faq-title {{title}}
          span(v-for="answer, question in section")
            label.faq-question
              h5
                | {{question}}
              input(type="checkbox")
              .faq-answer
                p
                  | {{answer}}