span
  h2
    | FAQ
  .faq-section(v-for="section, title in questions")
    h4 {{title}}
    span(v-for="answer, question in section")
      label.faq-question
        | {{question}}
        input(type="checkbox")
        .faq-answer
          | {{answer}}