main
  .frow-container
    .site-section
      .frow.column-start
        h2
          | FAQs
        p
          | Find some answers to common questions about Beg.in
    .frow.row-start.items-start.gutters
      .col-md-1-4.faq-quick-title-menu
        .faq-quick-title-menu-title
          h4
            | Categories
        .faq-section(v-for="section, title in questions")
          h4.faq-title.clickable(@click="doScroll(title)") {{title}}
      .col-md-3-4
        .faq-section(v-for="section, title in questions")
          h4.faq-title(:ref="title") {{title}}
          span(v-for="answer, question in section")
            label.faq-question
              h5
                | {{question}}
              input(type="checkbox")
              .faq-answer
                p
                  | {{answer}}
  .footer-cta.site-section
    .frow-container.height-100
      .frow.centered-column.height-100
        .title
          .frow.row-center
            h2
              | We'd love to hear from you!
        .frow
            p
              | Let's chat about your project, product, or venture.
        .frow
          a(class="begin-button" type="button" href="#") Say Hello!