extends ~begin-build/index.pug

append meta
  meta(name="description", content="Beg.in progressive web apps and product development")
  link(href="https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700" rel="stylesheet" type="text/css")
